/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

 input:focus, textarea:focus, select:focus{
  outline: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}




body {

    background-color: #FFFFFF;
    height:100vh;
    color: #2F2F2F  
}

#header {

  grid-column: 1/-1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;      
  align-items: end;
  justify-items: center;    
  width:100%;
  margin:0;
  

}

#topleft,  #topright {

  padding: 20px;
  
 }


#topleft
{

display:grid;
 justify-self: start;;
 grid-template-columns: 1fr 1fr;
 grid-gap: 10px;
 align-self: center;
 margin-left:20px;

}



#topright {

  display:grid;
  align-self: center;
  justify-self: end;;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
 
 }

 #topright a {

  align-self: center;
  
 }

#main { 

    display: grid;  
    grid-template-columns: 1fr minmax(382px, 586px) 1fr;
    grid-gap:10px;   
    text-align: start;
    justify-self: center;    
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    align-items: center;
    height:100%; 
    font-size:15px;
  
  }




#searcharea{    
    
   margin-bottom:200px;  
   display: grid;
   justify-items: center;
   width:100%;   
   grid-column: 2;
 

}

#googlelogo {    
  width: 272px;
  height:92px;
  margin-bottom:30px;
}

form {

  width:100%;
  position: relative; 
 
}

#searchbox {
  
  width:100%;
  border-style: solid;      
  height: 44px;
  border-radius: 20px;  
  padding-left: 8%;
  text-align: start;   

}

#searchicon {

  position: absolute;  
  top:10px;
  margin-left: 15px;  
  
}

#searchbox:hover {

  box-shadow: 1px 1px 1px 1px #E7E9EB;
}



#buttonwrap {   
    margin:20px;

    }

#footer {

  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );  
  justify-items: center;    
  width:100%; 
  grid-row:-1;
  margin:0;
  background-color: #F2F2F2;
  padding:20px;  
  grid-gap:20px;

}

#footer a{

  align-self: center;
  justify-self: center;
  color: rgba(0, 0, 0, 0.54);
 }

 #bottomleft {

  display:grid;
  justify-self: start;
  grid-template-columns: repeat(3, auto);
  grid-gap:10px; 
  margin-left:20px;

 }


 #bottomright{

  display:grid;
  justify-self: end; 
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-right:20px; 

 }

 #user {

  border-radius: 50%;
  align-self: center;

 }

 #user:hover {

  outline-style: solid ;
  outline-width: 6px;
  outline-color: #EFF0F0;


 }

 #launcher {

  justify-self: center;

 }

 #launcher:hover {

  background-color:#EFF0F0;
  border-radius: 50%;
  outline-style:solid;
  outline-color: #EFF0F0;
  outline-width: 8px;
 }


 button {

  background-color: #F8F9FA;
  border-style: solid;
  border-width: 0px;
  border-radius: 5%;   
  text-align: center;
  margin:auto;
  padding:10px;
  padding-left: 15px;
  padding-right: 15px;
  margin:10px;
  cursor:pointer;
  color: rgb(43, 42, 42);
 }

 a:hover {

  cursor:pointer;
  text-decoration: underline;


 }

 button:hover {

  outline:solid;
  outline-color: #EFF0F0;
  box-shadow: 1px 1px #E7E9EB;

 }

 #leaf {

  height:20px;
  width:20px;

 }



 #bottomcarbon{

  display:grid;
  grid-template-columns: auto 1fr;
  grid-gap:5px;

 }

 @media only screen and (max-width: 1200px) {

  

  
#bottomright{

   justify-self: center;   
   grid-column: -2;    
  
   }

   
 #bottomleft{

    justify-self: center;    
   
  } 

  #bottomcarbon {

    grid-row: 1;
    grid-column: 1/-1;
  }




 


 }

 


