/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



body {

    background-color: #FFFFFF;
    height:100vh;
    color: #2F2F2F
    
 
  
}




#main { 

    display: grid;  
    grid-template-columns: 1fr minmax(382px, 586px) 1fr;
    grid-gap:10px;
    outline: none !important;   
    text-align: start;
    justify-self: center;
    
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    align-items: center;
    height:100%; 
    font-size:15px;
  
  }

#header {

    grid-column: 1/-1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;    
  
    align-items: end;
    justify-items: center;    
    width:100%;
    margin:0;
    

}

#footer {

  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
  /*grid-template-columns: 1fr 1fr 1fr;*/
  /*grid-template-rows: 1fr 1fr;*/
    

  align-items: end;
  justify-items: center;    
  width:100%;
 
  grid-row:-1;
  margin:0;
  background-color: #F2F2F2;
  padding:20px;
  border-top: solid 1px color: rgba(0, 0, 0, 0.54);
 
 

}


#searcharea{    
    
   margin-bottom:200px;
  
   display: grid;
   justify-items: center;
   width:100%;   
   grid-column: 2;
 

}

form {

  width:100%;
 
 
}

#searchbox {
  
  width:100%;
  border-style: solid;      
  height: 44px;
  border-radius: 20px;
  outline: none !important;
  padding-left: 5%;
  text-align: start; 

  

}

#buttonwrap {   
    margin:20px;

    }


#googlelogo {    
    width: 272px;
    height:92px;
    margin-bottom:30px;
}

#topleft
{

  display:grid;
 align-self: start;
 justify-self: start;;
 grid-template-columns: 1fr 1fr;
 grid-gap: 10px;
 align-self: center;

}



#topright {

  display:grid;
  align-self: center;
  justify-self: end;;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
 
 }

 #bottomleft {


  display:grid;
  justify-self: start;
 grid-template-columns: repeat(3, auto);
 grid-gap:10px; 


 


 }


 #bottomright{


  display:grid;
  justify-self: end; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
 
 

 }

 #topleft,  #topright {

  padding: 20px;

  
 }

 #topright a {

  align-self: center;
 }



 #user {

  border-radius: 50%;
  align-self: center;
 }

 #user:hover {

outline-style: solid ;
outline-width: 6px;
outline-color: #EFF0F0;


 }

 #launcher {

  justify-self: center;
 }

 #launcher:hover {

  background-color:#EFF0F0;
  border-radius: 50%;
  outline-style:solid;
  outline-color: #EFF0F0;
  outline-width: 8px;
 }

 #footer a{

  align-self: center;
  justify-self: center;
  color: rgba(0, 0, 0, 0.54);
 }

 button {

  background-color: #F8F9FA;
  border-style: solid;
  border-width: 0px;
  border-radius: 5%;   
  text-align: center;
  margin:auto;
  padding:10px;
  padding-left: 15px;
  padding-right: 15px;
  cursor:pointer;
 }

 a:hover {

  cursor:pointer;
  text-decoration: underline;


 }

 button:hover {

border-style: solid;
border-width: 1px;
box-shadow: 1px 1px #E7E9EB;

 }

 #leaf {

  height:20px;
  width:20px;
 }

 #bottomcarbon{

  display:grid;

  grid-template-columns: auto 1fr;
  grid-gap:5px;
 }

 @media only screen and (max-width: 1200px) {

  

  
#bottomright{

   justify-self: center;   
   grid-column: -2;
 
    
  
   }

   
 #bottomleft{

    justify-self: center;
    
   
  } 

  #bottomcarbon {

    grid-row: 1;
    grid-column: 1/-1;
  }



*/

 


 }

 @media only screen and (max-width: 700px) {

 


 }

}
